In [1]:
#Q 1.Discuss string slicing and provide examples.

In [2]:
# String slicing means to extract a portion of a string

In [3]:
# example
string3 = "she is beautiful"

In [5]:
string3[0:5]    # it will extract the element from 0 to 4 index

'she i'

In [6]:
string3[:]

'she is beautiful'

In [9]:
string3[-1:]

'l'

In [10]:
string3[:-1]

'she is beautifu'

In [11]:
string3[::-1]

'lufituaeb si ehs'

In [12]:
# Q 2  Explain the key features of lists in Python.

In [13]:
# List are ordered
colours = ["red","blue","green"]
colours

['red', 'blue', 'green']

In [14]:
# it is mutable
colours[2] = "orange"
colours

['red', 'blue', 'orange']

In [16]:
# it contains heterogeneous elements
list1 = [4, "aditi", True, 4.52, 9+7j]
list1

[4, 'aditi', True, 4.52, (9+7j)]

In [19]:
# we can add or remove the elements in list
colours.append("grey")
colours.append("pink")
colours

['red', 'blue', 'orange', 'yellow', 'yellow', 'pink', 'grey', 'pink']

In [20]:
colours.remove("yellow")
colours

['red', 'blue', 'orange', 'yellow', 'pink', 'grey', 'pink']

In [21]:
# we can count the elements
colours.count("blue")

1

In [23]:
colours.pop()
colours

['red', 'blue', 'orange', 'yellow', 'pink']

In [24]:
# we can access it
colours[2]

'orange'

In [25]:
#
colours.sort()
colours

['blue', 'orange', 'pink', 'red', 'yellow']

In [26]:
# if we want to insert objectat a specific position
colours.insert(1,"yellow")
colours

['blue', 'yellow', 'orange', 'pink', 'red', 'yellow']

In [27]:
# extend
shopping_list = ["apple", "kiwi", "oranges"]
extras = ["tomato", "pen", "books" ]
shopping_list.extend(extras)
shopping_list

['apple', 'kiwi', 'oranges', 'tomato', 'pen', 'books']

In [28]:
# repeatation
[20]*6

[20, 20, 20, 20, 20, 20]

In [29]:
# shallow copy
fruits = ["apple", "kiwi", "oranges"]

In [30]:
a = fruits

In [31]:
fruits

['apple', 'kiwi', 'oranges']

In [32]:
a

['apple', 'kiwi', 'oranges']

In [34]:
a[1] = "banana"
a

['apple', 'banana', 'oranges']

In [35]:
fruits

['apple', 'banana', 'oranges']

In [36]:
# deep copy
fruits = ["apple", "kiwi", "oranges"]
fruits

['apple', 'kiwi', 'oranges']

In [37]:
b = fruits.copy()
b

['apple', 'kiwi', 'oranges']

In [38]:
b[2] = "cherry"
b

['apple', 'kiwi', 'cherry']

In [39]:
fruits

['apple', 'kiwi', 'oranges']

In [40]:
# if you want to know the index of an element
fruits.index("kiwi")

1

In [41]:
del fruits

In [42]:
fruits

NameError: name 'fruits' is not defined

In [43]:
fruits = ["apple", "kiwi", "oranges"]

In [44]:
fruits.clear()

In [45]:
fruits

[]

In [46]:
# Q 3  Describe how to access, modify, and delete elements in a list with examples.

In [47]:
# ACCESS THE ELEMENT
list1 = [4, "aditi", True, 4.52, 9+7j]
list1[3]

4.52

In [48]:
# MODIFY
list1[2] = False
list1

[4, 'aditi', False, 4.52, (9+7j)]

In [49]:
# delete
del list1[2]
list1

[4, 'aditi', 4.52, (9+7j)]

In [51]:
# to clear the elements of the list
list1 = [4, "aditi", True, 4.52, 9+7j]
list1.clear()

In [52]:
list1

[]

In [1]:
# Q 4 Compare and contrast tuples and lists with examples.

In [6]:
# TUPLE
S = ("MONSOON","WINTER", "SUMMER" )
type(S)

tuple

In [22]:
# LIST
A = ["stationery", "grocery", "clothes"]
type(A)

list

In [8]:
# TUPLES AND BOTH CAN BE ACESSED
A[2]

'clothes'

In [9]:
S[0]

'MONSOON'

In [23]:
#LIST CAN BE MODIFIED
A[2] = "SHOES"
A

['stationery', 'grocery', 'SHOES']

In [24]:
A.append("medicine")
A

['stationery', 'grocery', 'SHOES', 'medicine']

In [25]:
A.remove("medicine")
A

['stationery', 'grocery', 'SHOES']

In [29]:
A.insert(2, "bag")
A

['stationery', 'grocery', 'bag', 'SHOES']

In [30]:
A.pop()
A

['stationery', 'grocery', 'bag']

In [26]:
# tuples cannot be modified
S[2] = "SUMMER"

TypeError: 'tuple' object does not support item assignment

In [27]:
S.append("spring")

AttributeError: 'tuple' object has no attribute 'append'

In [28]:
S.remove("SUMMER")

AttributeError: 'tuple' object has no attribute 'remove'

In [31]:
# in list we can manipulate the data in so many ways
A.count("clothes")

0

In [33]:
A.index("grocery")

1

In [34]:
B = ("apple", "kiwi", "oranges")
A.extend(B)
A

['stationery', 'grocery', 'bag', 'apple', 'kiwi', 'oranges']

In [41]:
A.sort()
A

['apple', 'bag', 'grocery', 'kiwi', 'oranges', 'stationery']

In [42]:
len(A)

6

In [44]:
del A

In [45]:
A

NameError: name 'A' is not defined

In [47]:
A = ["stationery", "grocery", "clothes"]
A

['stationery', 'grocery', 'clothes']

In [50]:
A.clear()
A

[]

In [35]:
# IN TUPLES WE CANNOT MANIPULATE THE DATA IN SO MANY WAYS
S.count("SUMMER")

1

In [36]:
S.index("WINTER")

1

In [39]:
S.sort()

AttributeError: 'tuple' object has no attribute 'sort'

In [43]:
len(S)

3

In [51]:
del S

In [52]:
S

NameError: name 'S' is not defined

In [53]:
S = ("MONSOON","WINTER", "SUMMER" )
S.clear()

AttributeError: 'tuple' object has no attribute 'clear'

In [54]:
23 in S

False

In [56]:
"MONSOON" in S

True

In [57]:
P = (45, 52, 56)

In [58]:
S+P

('MONSOON', 'WINTER', 'SUMMER', 45, 52, 56)

In [59]:
# Q 5 Describe the key features of sets and provide examples of their use

In [60]:
 # SETS  >> sets are unordered and unique collection of elements
  # it doesn't allow any duplicate element to repeat
  # sets are mutable
  # it is unordered >> indexing wil not work
  # {} this symbol is used to define sets

In [64]:
r = {"square", "triangle", "circle", "cubic", "square", "cubic", "pentagon", "circle"}
type(r)

set

In [65]:
len(r)

5

In [66]:
r

{'circle', 'cubic', 'pentagon', 'square', 'triangle'}

In [68]:
r[4]   # indexing will not work

TypeError: 'set' object is not subscriptable

In [69]:
r.add("rectangle")
r

{'circle', 'cubic', 'pentagon', 'rectangle', 'square', 'triangle'}

In [70]:
r.remove("pentagon")
r

{'circle', 'cubic', 'rectangle', 'square', 'triangle'}

In [71]:
# in sets it is not compulsory that (.pop) will remove the last element
r.pop()

'triangle'

In [72]:
r

{'circle', 'cubic', 'rectangle', 'square'}

In [74]:
# to remove specific element
r.remove("rectangle")
r

{'circle', 'cubic', 'square'}

In [75]:
r.add("cone")
r

{'circle', 'cone', 'cubic', 'square'}

In [77]:
r.update("cylindrical")
r

{'a', 'c', 'circle', 'cone', 'cubic', 'd', 'i', 'l', 'n', 'r', 'square', 'y'}

In [78]:
r.update(["cylinder"])
r

{'a',
 'c',
 'circle',
 'cone',
 'cubic',
 'cylinder',
 'd',
 'i',
 'l',
 'n',
 'r',
 'square',
 'y'}

In [79]:
r.discard("square")
r

{'a', 'c', 'circle', 'cone', 'cubic', 'cylinder', 'd', 'i', 'l', 'n', 'r', 'y'}

In [82]:
s1 = {4, 8 , 9, 3 , 1, 0}
s2 = {1, 2, 3, 4, 5, 6, 8}

In [83]:
# union
s1 | s2

{0, 1, 2, 3, 4, 5, 6, 8, 9}

In [84]:
# intersection
s1 & s2

{1, 3, 4, 8}

In [85]:
# difference
s1 - s2

{0, 9}

In [86]:
# symmetric difference
s1 ^ s2

{0, 2, 5, 6, 9}

In [93]:
# frozen sets  >> cannot be added or remove any element
my_data = frozenset([45, 89, 52, 74, 36])

In [88]:
my_data

frozenset({36, 45, 52, 74, 89})

In [89]:
type(my_data)

frozenset

In [90]:
my_data.add(5)

AttributeError: 'frozenset' object has no attribute 'add'

In [91]:
my_data.remove(45)

AttributeError: 'frozenset' object has no attribute 'remove'

In [92]:
my_data.pop()

AttributeError: 'frozenset' object has no attribute 'pop'

In [94]:
# Q 6  Discuss the use cases of tuples and sets in Python programming.

In [95]:
# A tuple is an immutable, ordered collection of elements.
# Its immutability and fixed size make it ideal for certain scenarios where a constant, ordered group of values is required.
# USE CASES OF TUPLES
aadhar_num = (89625789, 278625, 2548246)

In [96]:
type(aadhar_num)

tuple

In [98]:
aadhar_num[2] = 78952256

TypeError: 'tuple' object does not support item assignment

In [99]:
emp_id = (4, 2 , 9 , 3, 6)

In [100]:
emp_id[2]

9

In [101]:
emp_id.index(3)

3

In [102]:
max(emp_id)

9

In [103]:
min(emp_id)

2

In [105]:
emp_id[:-1]

(4, 2, 9, 3)

In [106]:
emp_id[-1]

6

In [107]:
# A set is an unordered collection of unique elements.
# It is particularly useful in scenarios where you need to store distinct items and perform operations.
# use cases of sets

In [112]:
points = {45, 68, 89, 71 , 92, 45,70, 68, 71,20,20}

In [113]:
min(points)

20

In [114]:
max(points)

92

In [115]:
points

{20, 45, 68, 70, 71, 89, 92}

In [116]:
# convert list into set
list1 = ["apple", "potato", "banana", "apple", "potato"]
Q = set(list1)

In [117]:
Q

{'apple', 'banana', 'potato'}

In [118]:
type(Q)

set

In [119]:
# convert set into list
p = list(Q)

In [120]:
type(p)

list

In [121]:
p

['potato', 'banana', 'apple']

In [122]:
# Q 7 Describe how to add, modify, and delete items in a dictionary with examples.

In [123]:
# adding in dic
info = {"name":"aditi", "age":21, "gender":"female"}

In [124]:
type(info)

dict

In [126]:
info["profession"] = "student"

In [127]:
info

{'name': 'aditi', 'age': 21, 'gender': 'female', 'profession': 'student'}

In [131]:
info["place"] = "noida"

In [132]:
info

{'name': 'aditi',
 'age': 22,
 'gender': 'female',
 'profession': 'student',
 'place': 'noida'}

In [129]:
# modifying in dic
info["age"] = 22

In [130]:
info

{'name': 'aditi', 'age': 22, 'gender': 'female', 'profession': 'student'}

In [133]:
info["place"] = "gujarat"

In [134]:
info

{'name': 'aditi',
 'age': 22,
 'gender': 'female',
 'profession': 'student',
 'place': 'gujarat'}

In [135]:
# deleting items in dic
del info["gender"]

In [136]:
info

{'name': 'aditi', 'age': 22, 'profession': 'student', 'place': 'gujarat'}

In [137]:
info.pop("profession")

'student'

In [138]:
info

{'name': 'aditi', 'age': 22, 'place': 'gujarat'}

In [140]:
info.clear()

In [141]:
info

{}

In [142]:
# Q 8  Discuss the importance of dictionary keys being immutable and provide examples.

In [1]:
# The immutability of keys guarantees that the data stored in the dictionary remains consistent and reliable.
# Immutable keys ensure that once a key-value pair is added to the dictionary, it can always be accessed using the same key.
# By enforcing immutability, Python ensures that dictionaries operate efficiently and maintain their integrity even in complex applications.

In [2]:
employee_records = {
              "E01":{"name":"Ajay shah", "Department":"HR", "Salary":25000},
             "E02":{"name":"Ronit patel", "Department":"Finance", "Salary":30000},
             "E03":{"name":"Riya Patel", "Department":"Marketing", "Salary":25000}
    }

In [3]:
employee_records

{'E01': {'name': 'Ajay shah', 'Department': 'HR', 'Salary': 25000},
 'E02': {'name': 'Ronit patel', 'Department': 'Finance', 'Salary': 30000},
 'E03': {'name': 'Riya Patel', 'Department': 'Marketing', 'Salary': 25000}}

In [5]:
employee_records.get("E01")

{'name': 'Ajay shah', 'Department': 'HR', 'Salary': 25000}

In [6]:
employee_records["E02"]

{'name': 'Ronit patel', 'Department': 'Finance', 'Salary': 30000}

In [7]:
# use case
user_id = [4,5,9]
user_names = ["asd1", "asd7", "asd5"]

In [9]:
for user_id,user_names in zip(user_id, user_names):

    print(user_id, user_names)

4 asd1
5 asd7
9 asd5

In [10]:
user_id = [4,5,9]
user_names = ["asd1", "asd7", "asd5"]

{user_id:user_names for user_id,user_names in zip(user_id, user_names)}

{4: 'asd1', 5: 'asd7', 9: 'asd5'}